* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #FFf;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  color: #333;
}

.hidden {
  display: none;
}

.user-info {
  height: 100%;
  overflow: hidden;
}

.user-info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-bottom: solid 1px #333;
  padding: 2.4rem; 
}

h1 {
  font-size: 2.4rem;
}

.user-info .container img {
  border-radius: 400px;
  height: 130px;
  width: auto;
  padding: 0.5rem;
  border: solid 2px #cacafa;
  position: relative;
}

.user-info .user-name,
.user-info p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #999;
}


.follow-btn:link,
.follow-btn:visited {
  background: #5e5eff;
  padding: 1.2rem 2.8rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  border-radius: 5px;
  color: #Fff;
  transition: all 0.4s ease;
  margin-top: 1.2rem;
}

.follow-btn:hover,
.follow-btn:active {
  background: #a9a9ff;
}

.organization-img {
  width: 48px;
  background-color: #fff;
  border-radius: 100px;
}


/******* Projects *******/

.projects-container {
  padding: 2.4rem; 

}

.projects-container label {
  background: #eee;
  padding: 1.2rem;
  font-size: 1.6rem;
  display: block;
}

.projects-container .search-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  width: 90%;
  outline: none;
  padding: 0 1.2rem;
}


.projects-container .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2.4rem 0;
}

.projects-container .title span {
  height: 25px;
  width: 25px;
  display: inline-block;
  border: solid 5px #ffc2fc;
  border-radius: 100px;
}

.projects-container #projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 2rem;
}

.div {
  border: solid 1px #5e5eff;
}

h2 {
  font-size: 1.8rem;
}





